@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body {
  overflow: hidden;
  background-attachment: fixed;
  font-family: 'Questrial', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  color: rgba(255,255,255,0.9) !important;
}
html{
  font-family: 'Questrial', sans-serif !important;
}

.background {
  height: 100vh;
  background: #2F4858;
  z-index: 1;
}
nav.navbar.navbar-expand-lg.navbar-light{
  z-index: 99 !important;
  background-color: rgba(63, 63, 63, 0.0) !important;
  background-blend-mode: multiply !important;
  font-size: 1.25em !important;
  line-height: 0.3em;

}
.border-bottom{
  border-width: 0px !important;
}
$particleSize: 35vmin;
$animationDuration: 12s;
$amount: 100;
.background .parti {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    rgba($color: #9A67A5, $alpha: 0.4),
    rgba($color: #FF6F91, $alpha: 0.4),
    rgba($color: #257A3E, $alpha: 0.4),
    rgba($color: #9BDEAC, $alpha: 0.4),
    rgba($color: #309CFF, $alpha: 0.4),
    rgba($color: #F7F5DD, $alpha: 0.4),
    rgba($color: #FFCFFF, $alpha: 0.4),
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.Liana, .Software, .about, .connect, .work{
  animation-name: slide;
  opacity: 0;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-family: 'Questrial', sans-serif;
  font-size: 6em;
  margin-left: 2%;
}
.anim{
  animation-name: slideanim;
  opacity: 0;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
.Software{
  animation-delay: 0.16s;
}
.about{
  animation-delay: 0.3s;
}
.connect{
  animation-delay: 0.51s;
}
.work{
  animation-delay: 0.4s;
}
.Liana{
  margin-top: 1.2em;
}
@keyframes slide{
  0% {
    opacity: 0;
    filter: blur(1.5rem);
    font-size: 6.5em;
  }
  20%{
    filter: blur(1.5rem);
    font-size: 6.5em;
    opacity: 1;
  }
  50%{
    filter: blur(0.8rem);
    font-size: 6.2em;
    opacity: 1;
  }
  70% {
    filter: blur(0.4rem);
    font-size: 6em;
    opacity: 1;
  }
  100% {
    opacity: 1;
    filter: blur(0rem);
    font-size: 6em;
  }
}

@keyframes slideanim{
  0% {
    opacity: 0;
    scale: (0.6);
    filter: blur(1.5rem);
  }
  20%{
    filter: blur(1.5rem);
    scale: (0.6);
    opacity: 1;
  }
  50%{
    filter: blur(0.8rem);
    scale: (0.8);
    opacity: 1;
  }
  70% {
    filter: blur(0.4rem);
    scale: (0.9);
    opacity: 1;
  }
  100% {
    opacity: 1;
    scale: (1);
    filter: blur(0rem);
  }
}

a{
  color: rgba(255,255,255,0.5) !important;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.proj{
  width: 25vw;
  height: auto;
  max-height: 25vh;
  min-height: 450px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  background-color: rgba($color: #000000, $alpha: 0.3);
}
.aboutProjectContainer{
  overflow-y: auto;
  padding-bottom: 20px !important;
  max-height: 30vh;
  color: rgba($color: #ffffff, $alpha: 0.9);
}
.topRow{
  margin-top: 40px;
}
.titan, .movinest{
  margin-bottom: 40px;
}
.nav-tabs > a{
  background-color: rgba($color: #ffffff, $alpha: 0.0) !important;
  border: rgba(255, 255, 255, 0.2);
  border-radius: 20px !important;
  margin-top: 17px;
}
.nav-tabs{
  border-bottom: none !important;
  margin-right: 1em !important;
}
.projHome{
  width: 26vw;
  height: auto;
  margin-top: 20px;
  border-radius: 15px;
}
.aboutMe, .contactMe{
  height: 60vh;
  border-radius: 20px;
  margin: 10px;
  margin-bottom: 2em;
  background-color: rgba($color: #000000, $alpha: 0.3);
}
.aboutMe{
  padding: 20px;
  overflow-y: auto;
  color: rgba($color: #ffffff, $alpha: 0.8);
}
.Portfolio{
  display: flex;
  flex-direction: 'row';
  width: 700px;
  height: 85vh;
  padding-left: 60px !important;
  padding-right: 60px !important;
  margin-left: 10px;
  margin-top: 10px;
  overflow-x: auto;
}
.success{
  color: rgba($color: #ffffff, $alpha: 0.7);
  padding: 10px 15px;
  margin-left: 75px;
  border-radius: 20px;
  background-color: #00a589;
}
.notSent{
  color: rgba($color: #ffffff, $alpha: 0.7);
  padding: 10px 15px;
  margin-left: 15px;
  border-radius: 20px;
  background-color: #FF6F91;
}
.form-control{
  background-color: rgba($color: #ffffff, $alpha: 0.2) !important;
  border: rgba($color: #ffffff, $alpha: 0.2) !important;
  color: rgba($color: #ffffff, $alpha: 0.8) !important;
}
.btn-primary, button:not(:disabled){
  border-radius: 20px !important;
  color: rgba($color: #ffffff, $alpha: 0.7) !important;
  background-color: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%) !important;
  border-color: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%) !important;
}
.category{
  border: solid 1px rgba($color: #ffffff, $alpha: 0.5);
  padding: 0.4em 0.8em;
  border-radius: 20px;
  width:fit-content; 
  width:-webkit-fit-content; 
  width:-moz-fit-content
}
.tabTitle{
  font-size: 2.5em !important;
  color: rgba($color: #ffffff, $alpha: 0.8);
}
.projectButtons{
  float: right !important;
}
.techStack{
  margin-top: 1.5em;
  width: 10em;
  font-size: 1.1em !important;
  color: rgba($color: #ffffff, $alpha: 0.8);
}
mark{
  color: #ffffff;
  background-color: rgba($color: #ffffff, $alpha: 0.0) !important;
  font-weight: bold;  
}
.mt-5, .bigText, .form-label{
  color: rgba($color: #ffffff, $alpha: 0.5);
}
h1, h2, h3, h4, h5, h6, p, a, footer, .form-label, .btn, .liana, li {
  font-family: 'Questrial', sans-serif;
}
span.navbar-toggler-icon{
  background-color: rgba($color: #ffffff, $alpha: 0.4) !important;
  border-radius: 20% !important;
}
.liveSite{
  border-color: aqua;
  color: aqua;
  cursor: pointer;
}
.liveSite:hover{
  border-color: #2fcac2;
  color: white;
  background-color: #2fcac2;
}
.code{
  border-color: #ff51bc;
  color: #ff51bc;
  cursor: pointer;
}
.code:hover{
  border-color: #ff51bc;
  color: white;
  background-color: #ff51bc;
}